/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/****** BASE STYLES (Foundational styles - body font, section width/height) ******/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/****** GRID ******/

.col-12 {
    width: 1200px;
    margin: 0 auto;
}
.col-6 {
    width: 600px;
    float: left;
}
.col-3 {
    width: 400px;
    float: left;
}

/****** HEADER ******/

header {
    height: 800px;
    background: url('../img/hero.png');
    background-size: cover;
}

header h1 { 
    font-family: 'Lora', serif;
    font-size: 30px;
    color: #bbc085;
    padding: 50px 0;
}
nav {
    float: right; 
    width: 450px;
    padding: 80px 0;
}
nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #828282;
    padding-left: 80px;
    font-size: 18px;
}
header h2 {
    width: 1024px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0;
}
header h2 span {
    color: #2b2b2b;
}

/****** ABOUT ******/

#about .col-12 {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}
#about p {
    padding-right: 50px;
    font-size: 21px;
    color: #7f7f7f;
    line-height: 42px;
}

/****** WORK ******/

#work {
    background-color: #f9ceb7;
    text-align: center;
}

#work .col-12 {
    padding: 115px 0;
}

#work i {
    color: #c49075;
    font-size: 94px;
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    width: 190px;
    margin: 0 auto;
}

#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 35px;
    color: #2b2b2b;
}

/****** CONTACT ******/

#contact {
    background-color: #ebebeb;
}
#contact .col-12 {
    padding: 110px 0;
}
#contact img {
    border: 12px solid #ffffff;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul, #contact .fa-envelope {
    padding-left: 80px;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    margin: 40px 0 0px 0;
}
#contact a, #contact i {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}
#contact .fa-envelope {
    padding-right: 15px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul i {
    font-size: 32px;
    padding-right: 56px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
