/****** BASE STYLES ******/

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}

/****** ABOUT ******/

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}
#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 42px;
    padding-right: 50px;
}

/****** WORK ******/

#work {
    background-color: #f9ceb7;
    text-align: center;
}

#work .full-width {
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    width: 190px;
    margin: 0 auto;
}

#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    color: #2b2b2b;
    padding: 0 35px;
}

