/****** BASE STYLES ******/

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    float: left;
}
